/* This file is part of Atomes.

Atomes is free software: you can redistribute it and/or modify it under the terms
of the GNU Affero General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

Atomes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Atomes.
If not, see <https://www.gnu.org/licenses/> */

#include <winver.h>

ATOMES_ICON ICON "../misc/win/atomes.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1.1.15
PRODUCTVERSION 1.1.15
FILEOS         VOS_NT
FILETYPE       VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
	BEGIN
		VALUE "Comments", "@PACKAGE@"
		VALUE "CompanyName", "CNRS - IPCMS - DMO"
		VALUE "FileDescription", "atomes 1.1.15"
		VALUE "FileVersion", "1.1.15"
		VALUE "LegalCopyright", "\251 2024 S\351bastien Le Roux"
		VALUE "OriginalFileName", "atomes.exe"
		VALUE "ProductName", "atomes 1.1.15"
		VALUE "ProductVersion", "1.1.15"
	END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
		END
END
